body{
    background-color: beige;
    align-items: center;
    margin:10px
}

header{
 border: 3px solid rgb(2, 34, 2);
 border-radius:  15px;
 padding: 40px;
 text-align: center;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);;
}

main{
 text-align: center;
 padding: 50px; 
}

#h2-count{
    font-size: 20;
    font-weight: 900;
    color: blue;
}

button{
    padding: 10px;
    border-radius: 10px;
    width: 100px;
}

#decrement{
    color: white;
    background-color: rgb(175, 22, 22);
    font-size: 20px;

}
#increment{
    color: white;
    background-color: rgb(12, 121, 54);
    font-size: 20px;

}

#reset{
    color: black;
    background-color: rgb(240, 253, 124);
    font-size: 20px;

}