body{
    background-color: beige;
    align-items: center;
    margin:10px
}

header{
 border: 3px solid rgb(2, 34, 2);
 border-radius:  15px;
 padding: 40px;
 text-align: center;
 box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);;
}

main{

}